.b-categories {
  width: 100%;
}
.b-loader__table,
.b-top__table,
.b-categories__table,
.b-search__table {
  background-color: #fff;
  padding: 10px;
  width: 100%;
}
.b-categories__path__item {
  font-size: 12px;
}
.b-categories__path__item:before {
  content: '\21e2\00a0';
}
.b-categories__path__item:first-child:before {
  content: '';
}
.b-categories__item {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  outline: none;
  width: 235px;
}
.b-categories__item:after {
  -webkit-box-shadow: 0 0 20px 15px #ffffff;
  -moz-box-shadow: 0 0 20px 15px #ffffff;
  box-shadow: 0 0 20px 15px #ffffff;
  position: absolute;
  content: "\00a0";
  display: block;
  right: -5px;
  top: 0;
}
/*** Поисковая форма ***/
.b-search-form {
  white-space: nowrap;
}
