.b-home__header {
  margin: 15% 0 15px 0;
}
p.b-home__text {
  display: block;
  margin: 0 auto;
  text-align: justify;
  width: 60%;
}
.b-home__anchor {
  display: inline-block;
  width: 100%;
}
.b-form__table_signup {
  background-color: transparent;
}
.b-form__field__input_signup {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background .7s linear;
  -moz-transition: background .7s linear;
  -o-transition: background .7s linear;
  transition: background .7s linear;
  /*background-image: url(../images/cat.gif);
        background-position: 373px 15px;
        background-repeat: no-repeat;
        background-size: 30px;*/
  padding: 16px 0 3px 0;
  border-right: none;
  border-left: none;
  border-top: none;
}
.b-form__field:hover .b-form__field__input_signup,
.b-form__field .b-form__field__input_signup:focus {
  /*background-position: 340px 15px;
        background-size: 30px;*/
  border-right: none;
  border-left: none;
  border-top: none;
}
.b-form__field__label_signup {
  padding: 0;
}
