.b-models {
    width: 100%;
}

.b-layout__table,
.b-path__table,
.b-categories__table,
.b-models__table {
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

.b-categories__item {
    display: inline-block;
    outline: none;
    width: 190px;
}