.b-offers {
    width: 100%;
}

.b-loader__table,
.b-top__table,
.b-offers__table {
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

.b-categories__path__item {
    font-size: 12px;
}

.b-categories__path__item:before {
    content: '\21e2\00a0';
}

.b-categories__path__item:first-child:before {
    content: '';
}